<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'whatsapp.png' %}" type="image/x-icon"> 
    <title>Not Found</title>


    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            margin: 0;
            overflow: hidden;
            font-family: 'Roboto Condensed', sans-serif;
        }

        div {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        h3 {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div>
        <img src="https://c.tenor.com/FcVg5W9zZJQAAAAM/error.gif" />
        <h3>404 Page Not Found</h3>
    </div>

</body>

</html>